<div class="row" id="collection-header">
  <div class="col-md-6">
    <h3>Collection for {{username}}</h3>
  </div>

  <div class="col-md-6">
    <ul class="inline-list">
      <li>
        <div class="filter-select">
          owned
          <p>{{collection.length}}</p>
        </div>
      </li>
      <li>
        <div class="filter-select">
          wishlist
          <p>XX</p>
        </div>
      </li>
      <li>
        <div class="filter-select">
          want to play
          <p>XX</p>
        </div>
      </li>
    </ul>
  </div>
</div>




<!--
<div class="row">
  <div class="col-md-12">
    <form action="">
      <input type="radio" name="filter" value="all" ng-model="selectedFilter"> All
      <input type="radio" name="filter" value="owned" ng-model="selectedFilter"> Owned
      <input type="radio" name="filter" value="wantToBuy" ng-model="selectedFilter"> Want To Buy
      <input type="radio" name="filter" value="wantToPlay" ng-model="selectedFilter"> Want To Play
      <hr>
    </form>
  </div>
</div>

-->

<div ng-if="!collectionLoaded">
  <h1>LOADING</h1>
</div>

<div id="collection-container" ng-if="collectionLoaded">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Min Players</th>
        <th>Max Players</th>
        <th>Playing Time</th>
        <th>Year</th>
      </tr>
      <tr ng-repeat="game in collection | filter: filter">
        <th><a href="http://placehold.it"><img src="http://placehold.it/150x150"></a></th>
      </tr>
    </thead>
  </table>
  <div class="row game-container" ng-repeat="game in collection | filter: filter">

  </div>

</div>
