<div class="row vertical-center" id="collection-header">
  <div class="col-md-6">
    <h3>Collection for {{username}}</h3>
  </div>
  <div class="col-md-3">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" ng-click="changeFilter('owned')">Owned - {{counts.owned}}</button>
      <button type="button" class="btn btn-default" ng-click="changeFilter('wishList')">Wishlist - {{counts.wishList}}</button>
      <button type="button" class="btn btn-default" ng-click="changeFilter('wantToPlay')">Want To Play - {{counts.wantToPlay}}</button>
    </div>
  </div>

  <div class="col-md-3">
    <span class="glyphicon glyphicon-th-list display-toggle" ng-class="listMode ? 'display-active' : 'display-inactive'" ng-click="showListView()"></span>
    <span class="glyphicon glyphicon-th-large display-toggle" ng-class="!listMode ? 'display-active' : 'display-inactive'" ng-click="showGridView()"></span>
  </div>
</div>

<div ng-if="!collectionLoaded">
  <h1>LOADING!</h1>
</div>

<div id="collection-container" ng-if="collectionLoaded">
  <table class="table table-hover" ng-show="listMode">
    <thead>
      <tr>
        <th><a ng-click="changeOrderBy('name')">Name <span></span></a></th>
        <th><a ng-click="changeOrderBy('minPlayers')">Min Players <span></span></a></th>
        <th><a ng-click="changeOrderBy('maxPlayers')">Max Players <span></span></a></th>
        <th><a ng-click="changeOrderBy('playingTime')">Playing Time <span></span></a></th>
        <th><a ng-click="changeOrderBy('yearPublished')">Year <span></span></a></th>
      </tr>
      <tr ng-repeat="game in collection | filter: filter | orderBy: orderBy">
        <td><a ng-href="https://boardgamegeek.com/boardgame/{{game.gameId}}/" target="_blank">{{game.name}}</a></td>
        <td>{{game.minPlayers}}</td>
        <td>{{game.maxPlayers}}</td>
        <td>{{game.playingTime}} mins</td>
        <td>{{game.yearPublished}}</td>
      </tr>
    </thead>
  </table>
  <div ng-show="!listMode" ng-cloak>
      <grid-thumbnail ng-repeat="game in collection | filter: filter" ng-cloak ng-click="showPopup(game.gameId)"></grid-thumbnail>
  </div>
</div>
