.game-container {
  font-size: 18px;
  margin-bottom: 10px;
}

.right {
  float: right;
}


a {
  color: #00b248;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

.show-hide {
  transition: all linear 0.25s;
}

.show-hide.ng-hide {
  opacity: 0;
  height: auto;
}

#collection-header {
  height: 50px;
  background-color: #616161;
  color: #FFF;
}

.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-thumbnail {
  padding: 5px;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  left:100;
  top: 100;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.display-toggle {
  font-size: 2em;
  cursor: pointer;
  float: right;
  margin-right: 5px;
}

.display-active {
  color: #f2f2f2;
}

.display-inactive {
  color: #000;
}

table {
  font-size: 1.2em;
}
