/*
green - #00B248
orange - #F88300
pink - #D50056

http://paletton.com/#uid=32Y0u0kw0v4jTClpfxzyAonDZj6
*/
html {
  font-family: sans-serif;
}

.header {
  color: #000;
  /*background-color: #00e676;*/
  background-color: rgba(255,255,255,0.85);
  height: 50px;
  font-size: 24px;
  position: fixed;
  width: 100%;
  z-index: 1;
  font-family: 'Karla', sans-serif;
  border-bottom: 1px solid #808080;
}




.header img {
    height: 50px;
}

.right {
  text-align: right;
}

.header a {
  color: #000;
}

.header a:hover {
  color: #00b248;
}

.inline-list {
  list-style-type: none;
}

.inline-list li {
  display: inline-block;
}

#content {
  padding-top: 60px;
  margin-left: 8px;
  margin-right: 8px;
}



.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  text-align: center;
}

@media (max-width: 768px) {
  .header {
    height: 100px;
  }

  #content {
    padding-top: 120px;
  }
}
