html {
  font-family: sans-serif;
}

.header {
  color: #000;
  background-color: #FF5733;
  height: 40px;
  font-size: 24px;
}

#navigation ul {
  list-style-type: none;
}

#navigation ul li {
  display: inline-block;
}
